:root {
  --accent-color: #2196f3;
  --accent-secondary-color: #212121;
  --accent-bacground-color: #2f303a;
  --second-bacground-color: #f5f4fa;
  --accent-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-font-weight: 700;
  --second-font-weight: 500;
  --accent-font-color: #757575;
  --second-font-color: #ffffff;
  --accent-color-white: white;
}
/* ===============/HEADER/=============== */

.link {
  text-decoration: none;
}
.menu {
  list-style: none;
  display: inline;
}
.body {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  color: var(--accent-color);
  background-color: var(--accent-bacground-color);
}
/* ===============/LOGO/================== */

.web {
  color: var(--accent-color);
  font-weight: var(--accent-font-weight);
  font-family: raleway;
  font-size: 26px;
  margin-top: 32px;
}
.logo {
  color: var(--accent-secondary-color);
  font-weight: var(--accent-font-weight);
  font-family: raleway;
  font-size: 26px;
  margin-top: 0px;
}

/* ===============/MENU/================== */
.menu-link {
  font-family: var(--accent-font);
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-bacground-color);
}
.menu-link:hover,
.menu-link:focus,
.current {
  color: var(--accent-color);
}
.contact-mail,
.contact-phone,
.contact-adress {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-font-color);
}
.contact-mail:hover,
.contact-phone:focus,
.contact-mail:focus,
.contact-phone:hover,
.contact-adress:hover,
.contact-adress:focus {
  color: var(--accent-color);
}
.contact-adress {
  font-family: var(--accent-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
}
/* =============/BODY-HERO/================ */
.hero {
  background-color: var(--accent-bacground-color);
  display: block;
}
.filter {
  list-style: none;
}
.hero-header {
  font-family: var(--accent-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-font-color);
}
.order-btn {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-font-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
/* ============/DESCRIPTION/=============== */
.description {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-bacground-color);
}
.section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-font-color);
}
/* =============/PORTFOLIO/================ */
.portfolio-btn-all {
  font-family: var(--accent-font);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
.portfolio-btn {
  font-family: var(--accent-font);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  background-color: var(--second-bacground-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: var(--second-font-color);
}
.employees {
  background-color: var(--second-bacground-color);
}
.employees-card {
  background-color: var(--accent-color-white);
}
.portfolio {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-bacground-color);
}
.portfolio-command {
  font-family: var(--accent-font);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-bacground-color);
}
.command-profession {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-font-color);
}
/* ==========/FOOTER-CONTACTS/============= */
.contact-mail-footer,
.contact-phone-footer {
  font-family: var(--accent-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-font-color);
}
.contact-mail-footer:hover,
.contact-phone-footer:focus,
.contact-mail-footer:focus,
.contact-phone-footer:hover {
  color: var(--accent-color);
}
/* ============/FOOTER-LOGO/=============== */
.footer {
  background-color: var(--accent-bacground-color);
}
.studio-footer {
  color: var(--accent-color-white);
  font-weight: var(--accent-font-weight);
  font-size: 26px;
  margin-top: 0px;
  padding-left: 0px;
}
/* .filter-img {} */
.filter-item {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-bacground-color);
}
.filter-suptitle {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-font-color);
}
